$border-color: #e20b23;
$color: #300f3c;

.shape {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $border-color transparent;
}

.shape-inner {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent $color transparent;
}

/* retroviseurs */
.shape--mirrors-outer {
  border-color: transparent;
}

.shape--mirrors {
  width: 82%;
  height: 24px;
  background-color: $color;
  border: 2px solid $border-color;
  border-radius: 10px;
  top: 54px;
  margin: 0 13px;

  @media only screen and (min-width: 768px) {
    top: 50px;
    margin: 0 16px;
    width: 80%;
  }
}

/* capot parebrise */
.shape--windscreen-hood-outer {
  //border-width: 0px 58px 131px 77px;

  width: 42.3%;
  border-width: 0px 76px 131px 84px;
  border-color: transparent transparent #e20b23 transparent;

  @media only screen and (min-width: 768px) {
    width: 49.3%;
    border-width: 0px 93px 131px 85px;
  }
}

.shape--windscreen-hood {
  width: 41%;
  margin: 0.5% -0.5% 0% 0%;
  border-width: 1px 78px 126px 85px;
  border-color: transparent transparent $color transparent;

  @media only screen and (min-width: 768px) {
    width: 48%;
    margin: 0.5% 0.5% 0% 0.5%;
    border-width: 0px 93px 127px 85px;
  }
}

/* parebrise */
.shape--windscreen-outer {
  width: 45.3%;
  //margin-left: 13%;
  border-width: 8px 45px 68px 47px;
  border-color: transparent transparent $border-color transparent;
}

.shape--windscreen {
  width: 45.3%;
  border-width: 12px 39px 62px 39px;
  border-color: transparent transparent $color transparent;
  left: 8px;

  @media only screen and (min-width: 768px) {
    width: 44.3%;
    border-width: 12px 38px 61px 41px;
    left: 10px;
  }
}

/* capot */
.shape--hood-outer {
  width: 74.3%;
  margin-left: 3%;
  border-width: 82px 30px 42px 31px;
  border-color: transparent transparent $border-color transparent;

  @media only screen and (min-width: 768px) {
    border-width: 82px 33px 42px 31px;
  }
}

.shape--hood {
  width: 73.3%;
  margin-left: 4.5%;
  border-width: 85px 27px 37px 28px;
  border-color: transparent transparent $color transparent;

  @media only screen and (min-width: 768px) {
    border-width: 85px 27px 37px 27px;
  }
}

/* level 1 */
.shape--level1-outer {
  width: 100%;
  margin-left: -4%;
  border-width: 131px 14px 34px 14px;
  border-color: transparent transparent $border-color transparent;
}

.shape--level1 {
  width: 98%;
  margin-left: -3%;
  border-width: 130px 13px 33px 14px;
  border-color: transparent transparent $color transparent;
}

/* level 2 */
.shape--level2-outer {
  width: 95.2%;
  border-width: 23px 17px 27px 13px;
  border-color: $border-color transparent transparent transparent;
  top: 165px;
  left: -15px;
}

.shape--level2 {
  width: 94.5%;
  border-width: 21px 16px 0px 13px;
  border-color: $color transparent transparent transparent;
  top: 165px;
  left: -13px;
}

/* wheel */
.shape--wheel-left {
  width: 11%;
  height: 63px;
  background-color: #300f3c;
  border-radius: 0 0 15px 15px;
  border-color: #e20b23;
  top: 188px;
}

.shape--wheel-right {
  width: 11%;
  height: 63px;
  background-color: #300f3c;
  border-radius: 0 0 15px 15px;
  border-color: #e20b23;
  top: 188px;
  right: 43px;

  @media only screen and (min-width: 768px) {
    right: 54px;
  }
}

/* level 3 */
.shape--level3-outer {
  width: 99.5%;
  border-width: 131px 1px 8px 1px;
  border-style: solid;
  border-color: transparent transparent #e20b23 transparent;
}

.shape--level3 {
  width: 97.7%;
  border-width: 131px 1px 7px 1px;
  border-style: solid;
  border-color: transparent transparent #300f3c transparent;
  left: 4px;
}

/* level 4 */
.shape--level4-outer {
  width: 95.5%;
  border-width: 11px 8px 27px 8px;
  border-color: $border-color transparent transparent transparent;
}

.shape--level4 {
  width: 94%;
  border-width: 9px 8px 27px 8px;
  border-color: $color transparent transparent transparent;
  left: 4px;
}

/* level 5 */
.shape--level5-outer {
  width: 90.5%;
  border-width: 23px 8px 27px 8px;
  border-color: $border-color transparent transparent transparent;
}

.shape--level5 {
  width: 89.5%;
  border-width: 21px 8px 27px 8px;
  border-color: $color transparent transparent transparent;
  left: 2px;
}

/* level 6 */
.shape--level6-outer {
  width: 88%;
  height: 4px;
  border-width: 2px 2px 2px 2px;
  border-color: $border-color;
  border-radius: 0 0 5px 5px;
}

.shape--level6 {
  width: 87%;
  background-color: $color;
  border-radius: 0 0 5px 5px;
  left: 1px;
}


/* mountain 1 */
.shape-mountain1-outer {
  width: 0;
  border-width: 66px 48px 62.5px 21px;
  border-color: transparent white white white;
}

.shape-mountain1 { 
  border-width: 124px 0px 0px 42px;
  border-color: transparent transparent transparent #2b1139;
}


/* mountain 2 */
.shape-mountain2-outer {
  width: 0;
  border-width: 61px 94px 69px 62px;
  border-style: solid;
  border-color: transparent white white white;

}

.shape-mountain2 {
  width: 0;
  border-width: 124px 0px 0px 42px;
  border-color: transparent transparent transparent #2b1139;
}


/* mountain 3 */
.shape-mountain3-outer {
  width: 0;
  border-color: transparent transparent transparent transparent;

}

.shape-mountain3 {
  width: 0;
  border-width: 111px 171px 0px 53px;
  border-color: transparent #2b1139 transparent transparent;
}


/* mountain 4 */
.shape-mountain4-outer {
  width: 0;
  border-width: 7px 121px 130px 0px;
  border-color: transparent transparent white transparent;
}

.shape-mountain4 {
  width: 0;
  border-color: transparent transparent transparent #2b1139;
}


/* mountain 5 */
.shape-mountain5-outer {
  width: 0;
  border-width: 68px 93px 69px 77px;
  border-color: transparent white white white;

}

.shape-mountain5 { 
  width: 0;
  border-color: transparent transparent #2b1139 transparent;
}