<div class="car">
  <app-shaper [modifier]="'shape--mirrors'" [isVisible]=false></app-shaper>
  <div class="car__windscreen-hood">
   <app-shaper [modifier]="'shape--windscreen-hood'"></app-shaper>
  </div>
  <div class="car__windscreen">
    <app-shaper [modifier]="'shape--windscreen'"></app-shaper>
  </div>

  <div class="car__hood">
    <app-shaper [modifier]="'shape--hood'"></app-shaper>
  </div>

  <div class="car__level1">
    <app-shaper [modifier]="'shape--level1'"></app-shaper>
  </div>

  <!-- TODO: make a light component -->
  <div class="car__level1-light">
    <div class="level1-left1">
      <div class="left1-light"></div>
    </div>
    <div class="level1-left2">
      <div class="left2-light"></div>
    </div>

    <div class="level1-right1">
      <div class="right1-light"></div>
    </div>
    <div class="level1-right2">
      <div class="right2-light"></div>
    </div>
  </div>

  <div class="car__level2">
    <app-shaper [modifier]="'shape--level2'"></app-shaper>
  </div>

  <div class="car__wheel">
    <app-shaper [modifier]="'shape--wheel-left'" [isVisible]=false></app-shaper>
    <app-shaper [modifier]="'shape--wheel-right'" [isVisible]=false></app-shaper>
  </div>

  <div class="car__level3">
    <app-shaper [modifier]="'shape--level3'"></app-shaper>
  </div>

  <div class="car__level4">
    <app-shaper [modifier]="'shape--level4'"></app-shaper>
  </div>

  <div class="car__level5">
    <app-shaper [modifier]="'shape--level5'"></app-shaper>
  </div>

  <div class="car__level6">
    <app-shaper [modifier]="'shape--level6'"></app-shaper>
  </div>

</div>

