<div class="car">
  <app-shaper [modifier]="'shape--mirrors'" [isVisible]=false></app-shaper>
  <div class="car__windscreen-hood">
   <app-shaper [modifier]="'shape--windscreen-hood'"></app-shaper>
  </div>
  <div class="car__windscreen">
    <app-shaper [modifier]="'shape--windscreen'"></app-shaper>
  </div>

  <div class="car__border"></div>

  <div class="car__hood">
    <app-shaper [modifier]="'shape--hood'"></app-shaper>
  </div>

  <div class="car__level1">
    <app-shaper [modifier]="'shape--level1'"></app-shaper>
  </div>

  <app-headlights></app-headlights>

  <div class="car__level2">
    <app-shaper [modifier]="'shape--level2'"></app-shaper>
  </div>

  <div class="car__wheel">
    <app-shaper [modifier]="'shape--wheel-left'" [isVisible]=false></app-shaper>
    <app-shaper [modifier]="'shape--wheel-right'" [isVisible]=false></app-shaper>
  </div>

  <div class="car__level3">
    <app-shaper [modifier]="'shape--level3'"></app-shaper>
  </div>

  <div class="car__level4">
    <app-shaper [modifier]="'shape--level4'"></app-shaper>
  </div>

  <div class="car__level5">
    <app-shaper [modifier]="'shape--level5'"></app-shaper>
  </div>

  <div class="car__level6">
    <app-shaper [modifier]="'shape--level6'"></app-shaper>
  </div>

</div>

