<div class="mountains">
	<app-shaper [modifier]="'shape-mountain1b'"  [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain1'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain2b'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain2'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain3b'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain3'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain4b'" [isVisible]=false></app-shaper>
	<app-shaper [modifier]="'shape-mountain4'" [isVisible]=false></app-shaper>
</div>
