.headlight {
  position: relative;
  width: 30px;
  height: 20px;
  border: 2px solid #e20b23;

  &__light {
    position: absolute;
    width: 25%;
    height: 48%;
    margin: 12% 0 0 32%;
    border-radius: 50%;
    animation: ligth-on 1500ms 1500ms forwards infinite alternate;
  }
}

@keyframes ligth-on {
  0% {
    box-shadow: 0px 0px 10px 13px #fe2cff;
    background-color: #fe2cff;
  }
  50% {
    box-shadow: 0px 0px 14px 16px #fe2cff;
    background-color: #fe2cff;
  }
  100% {
    box-shadow: 0px 0px 17px 19px #fe2cff;
    background-color: #fe2cff;
  }
}
