.car-animation {
  background: linear-gradient(#2b1139, 70%, #a72d4f);
  height: 100vh;
  overflow: hidden;

  @media only screen and (min-width: 1024px) {
    overflow-x: hidden;
    overflow-y: initial;
  }

  &__container {
    // max-width: 1200px;
    height: 100vh;
  }

  &__mountains {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    width: 100vw;

    @media only screen and (min-width: 1200px) {
      top: 0;
    }

    @media only screen and (min-width: 1440px) {
      top: 0;
    }
  }

  &__car {
    position: relative;
    top: 20vh;
    left: 7vw;

    @media only screen and (min-width: 768px) {
      top: 20vh;
    }

    @media only screen and (min-width: 1024px) {
      top: 12vh;
    }

    @media only screen and (min-width: 1200px) {
      top: -120px;
    }

    @media only screen and (min-width: 1440px) {
      top: -180px;
    }
  }

  &__delimitation {
    height: 5px;
    background-color: #fffeff;
    box-shadow: 2px 0px 20px 10px #ad4fa7;
    overflow: hidden;
    position: relative;
  }

  &__floor {
    position: absolute;
    width: 100vw;
    top: 100%;
    height: 54vh;
    overflow: hidden;
  }
}
