<div class="car-animation">
	<h1 class="car-animation__title">back to the news</h1>
	<div class="car-animation__container">
		<div class="car-animation__sun">
			<app-sun></app-sun>
		</div>
		<div class="car-animation__stars">
			<app-stars></app-stars>
		</div>

		<div class="car-animation__mountains">
				<div class="mountains-overflow"><app-mountains></app-mountains></div>
			<div class="car-animation__delimitation"></div>
		</div>
		<div class="car-animation__car">
			<app-car></app-car>
		</div>
		<div class="car-animation__floor">
			<app-floor></app-floor>
		</div>
		<div  class="car-animation__palm">
			<app-palm></app-palm>
		</div>
	</div>
</div>
