<div class="floor floor1"></div>
<div class="floor floor2"></div>
<div class="floor floor3"></div>
<div class="floor floor4"></div>
<div class="floor floor5"></div>
<div class="floor floor6"></div>
<div class="floor floor7"></div>
<div class="floor floor8"></div>
<div class="floor floor9"></div>
<div class="floor floor10"></div>
<div class="floor floor11"></div>
<div class="floor floor12"></div>
<div class="floor floor13"></div>
<div class="floor floor14"></div>
<div class="floor floor15"></div>
<div class="floor floor16"></div>
