.floor {
  position: absolute;
  width: 100%;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor1 {
  position: absolute;
  width: 0.1%;
  height: 40vw;
  margin: -20vw 0 0 13vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor2 {
  position: absolute;
  width: 0.1%;
  height: 57vw;
  margin: -27vw 0 0 28vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor3 {
  position: absolute;
  width: 0.1%;
  height: 68vw;
  margin: -31vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor4 {
  position: absolute;
  width: 0.1%;
  height: 75vw;
  margin: -33vw 0 0 62vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor5 {
  position: absolute;
  width: 0.1%;
  height: 95vw;
  margin: -43vw 0 0 82vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor6 {
  position: absolute;
  width: 0.1%;
  height: 83vw;
  margin: -27vw 0 0 94vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor7 {
  position: absolute;
  width: 0.1%;
  height: 85vw;
  margin: -27vw 0 0 116vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor8 {
  position: absolute;
  width: 0.1%;
  height: 86vw;
  margin: -27vw 0 0 140vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor9 {
  position: absolute;
  width: 0.1%;
  height: 86vw;
  margin: -27vw 0 0 165vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor10 {
  position: absolute;
  width: 0.2%;
  height: 87vw;
  margin: -27vw 0 0 192vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor11 {
  position: absolute;
  width: 0.1%;
  height: 116vw;
  margin: -52vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor12 {
  position: absolute;
  width: 0.3%;
  height: 116vw;
  margin: -40vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor13 {
  position: absolute;
  width: 0.5%;
  height: 116vw;
  margin: -27vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor14 {
  position: absolute;
  width: 0.7%;
  height: 116vw;
  margin: -13vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor15 {
  position: absolute;
  width: 0.9%;
  height: 116vw;
  margin: 3vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor16 {
  position: absolute;
  width: 1.1%;
  height: 116vw;
  margin: 21vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
  animation: sol-speed 300ms 1500ms linear infinite;
}

@keyframes sol-speed {
  0% {
    transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  }
  100% {
    transform: perspective(150px) rotate3d(3, 3, 13, -93deg)
      translate(70px, 0px);
  }
}
