
.floor-wrapper {
  position: relative;
}

.floor {
  position: absolute;
  width: 100%;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floorAnimation {
  animation: sol-speed 300ms 1500ms linear infinite;
}

.floor1 {
  position: absolute;
  width: 0.1%;
  height: 40vw;
  margin: -20vw 0 0 13vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor2 {
  position: absolute;
  width: 0.1%;
  height: 57vw;
  margin: -27vw 0 0 28vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor3 {
  position: absolute;
  width: 0.1%;
  height: 68vw;
  margin: -32vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.floor4 {
  position: absolute;
  width: 0.1%;
  height: 75vw;
  margin: -36vw 0 0 62vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor5 {
  position: absolute;
  width: 0.1%;
  height: 95vw;
  margin: -46vw 0 0 82vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor6 {
  position: absolute;
  width: 0.1%;
  height: 92vw;
  margin: -41vw 0 0 100vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor7 {
  position: absolute;
  width: 0.1%;
  height: 85vw;
  margin: -27vw 0 0 116vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor8 {
  position: absolute;
  width: 0.1%;
  height: 86vw;
  margin: -27vw 0 0 140vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor9 {
  position: absolute;
  width: 0.1%;
  height: 86vw;
  margin: -27vw 0 0 165vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor10 {
  position: absolute;
  width: 0.2%;
  height: 87vw;
  margin: -27vw 0 0 192vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(14, 4, 10, 67deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor11 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -52vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor12 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -42vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor13 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -32vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor14 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -22vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor15 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -12vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor16 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: -2vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor17 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 8vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor18 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 18vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor19 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 28vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor20 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 38vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor21 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 48vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor22 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 58vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

.floor23 {
  position: absolute;
  width: 0.4%;
  height: 116vw;
  margin: 68vw 0 0 44vw;
  background-color: #ad4fa7;
  transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  box-shadow: 2px 0px 20px 3px #ad4fa7;
}

@keyframes sol-speed {
  0% {
    transform: perspective(150px) rotate3d(3, 3, 13, -93deg);
  }
  100% {
    transform: perspective(150px) rotate3d(3, 3, 13, -93deg)
      translate(60px, 0px);
  }
}
