<div class="floor-wrapper">
	<div class="floor floor1"></div>
	<div class="floor floor2"></div>
	<div class="floor floor3"></div>
	<div class="floor floor4"></div>
	<div class="floor floor5"></div>
	<div class="floor floor6"></div>
	<div class="floor floor7"></div>
	<div class="floor floor8"></div>
	<div class="floor floor9"></div>
	<div class="floor floor10"></div>
	<div class="floor floor11 floorAnimation"></div>
	<div class="floor floor12 floorAnimation"></div>
	<div class="floor floor13 floorAnimation"></div>
	<div class="floor floor14 floorAnimation"></div>
	<div class="floor floor15 floorAnimation"></div>
	<div class="floor floor16 floorAnimation"></div>
	<div class="floor floor17 floorAnimation"></div>
	<div class="floor floor18 floorAnimation"></div>
	<div class="floor floor19 floorAnimation"></div>
	<div class="floor floor20 floorAnimation"></div>
	<div class="floor floor21 floorAnimation"></div>
	<div class="floor floor22 floorAnimation"></div>
	<div class="floor floor23 floorAnimation"></div>
</div>
